page-overview {
  .add-button {
    color: white;
    background-color: map-get($colors, secondary);

    @media (max-width: 350px) {
      max-width: 125px;
      font-size: 12px;
    }
  }

  .menu-button {
    display: inline-block;
  }
}
