<ion-header>
  <ion-navbar>
    <ion-title>
      Uitgave toevoegen
    </ion-title>

    <button ion-button menuToggle right [disabled]="!saved" [style.opacity]="!saved ? '0.2' : '1'">
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>
</ion-header>

<ion-content class="itemdetails">

  <ion-list>

    <form (ngSubmit)="onSubmit(newEntryForm)" #newEntryForm="ngForm">

      <ion-item class="entry-amount">
        <ion-label color="primary" stacked>Bedrag</ion-label>
        <ion-input [(ngModel)]="entry.amount" type="text" placeholder="0" pattern="/^[0-9]+(,[0-9]{1,2})?$/" name="amount" #amount="ngModel"></ion-input>        
      </ion-item>

      <ion-item><p *ngIf="entry.amount">Is a valid decimal? {{ amount.errors.pattern}}</p></ion-item>

      <ion-item *ngIf="categories">
        <ion-label color="primary" stacked>Rubriek:</ion-label>
        <ion-select [(ngModel)]="entry.categoryId" name="categoryId" cancelText="annuleer" (ionChange)="changed()" placeholder="nog niet gerubriceerd">     
          <ion-option *ngFor="let catKey of catKeys.slice(1)" [value]=catKey>{{categories[catKey]}}</ion-option>
        </ion-select>
      </ion-item> 

      <ion-item>
        <ion-label color="primary" stacked>Omschrijving:</ion-label>
        <ion-textarea rows="8" [(ngModel)]="entry.description" name="description" (focus)="changed()" placeholder="voeg een beschrijving toe"></ion-textarea>
      </ion-item>

      <ion-item>
        <button ion-button [disabled]="saved" (click)="cancel(newEntryForm)">Annuleer</button>
        <button ion-button type="submit" [disabled]="saved">Opslaan</button>
      </ion-item>
    </form>

  </ion-list>

</ion-content>
