.datetime {
  padding: 11px 8px 11px 0px;
}

.pie-month-amount {

  ion-icon[name='arrow-down'] {
    color: $lightgrey;
  }

  h3 {
    display: inline-block;
    font-weight: bold;
  }

  .item-ios [item-right] {
    margin-right: 0;
  }
}

.pie-chart-extra-container {
  max-height: 250px;
}

.pie-chart-container {

  position: relative;
  width: 72%;
  max-width: 250px;
  height: 0;
  padding-top: 72%;
  margin: 0 auto;

  svg {
    position: absolute;
    top: 0;
    left: 0;  
  }

  path {
    stroke-width: 1px;
  }
}

.pie-list {

  margin: -1px 0 20px 0;

  .item-block {
    min-height: 3.4rem;

    &:first-child, &:last-child {
      border: none;
    }
  }

  .ion-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    min-height: 0;
    min-width: 0 !important;
  }

  .label-md {
    margin-bottom: 9px;
  }

  .list-cat {
    float: left;
  }

  .list-amount {
    font-weight: bold;
    float: right;
  }

  ion-icon[name='arrow-forward'] {
    color: $lightgrey;
    margin-left: 16px;
  }
}
