.pie-month-amount {

  ion-icon[name='arrow-down'] {
    color: $lightgrey;
  }

  h3 {
    display: inline-block;
    font-weight: bold;
  }
}

.pie-chart-container {

  position: relative;
  width: 72%;
  height: 0;
  padding-top: 72%;
  margin: 0 auto;

  svg {
    position: absolute;
    top: 0;
    left: 0;  
  }
}

.pie-list {

  .item-block {
    min-height: 3.4rem;
  }

  .ion-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    min-height: 0;
    min-width: 0 !important;
  }

  .label-md {
    margin-bottom: 9px;
  }

  .list-cat {
    display: inline-block;
  }

  .list-amount {
    font-weight: bold;
    float: right;
  }

  ion-icon[name='arrow-forward'] {
    color: $lightgrey;
    margin-left: 16px;
  }
}
