ion-content.itemdetails {
  background-color: #ddd;
}

.itemdetails {
  .item-info {
    margin-top: 15px;

    p {
        font-size: 1.2rem;
    }
  }
  .item-description {
    margin-top: 15px;
  }

}

