<ion-header>
  <ion-navbar>
    <ion-title>
      Wijzig gegevens      
    </ion-title>
    <button ion-button menuToggle right [disabled]="!saved" [style.opacity]="!saved ? '0.2' : '1'">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="itemdetails">

  <ion-card *ngIf="item">
    <ion-card-content class="itemdetails-outer">

      <div class="icon-container">
        <ion-icon *ngIf="categories" item-left [style.background-color]="colorTable[item.categoryId]">
        </ion-icon>
      </div>
      <div class="itemdetails-inner">
        <p *ngIf="categories" class="itemdetail-cat">{{categories[item.categoryId] | uppercase}}</p>  
        <div>
          <p class="itemdetail-date">{{item.date | date}}</p>
          <p class="itemdetail-pay-meth">{{item.payment_method}}</p>
        </div>
        <p class="itemdetail-description">{{item.description}}</p>
        <h3 class="itemdetail-amount">{{-item.amount | euro}}</h3>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="item">
    <ion-card-content>

      <form (ngSubmit)="onSubmit(itemDetailForm)" #itemDetailForm="ngForm">
       <div *ngIf="categories">
        <ion-label color="primary">Wijzig rubriek:</ion-label>
        <ion-select [(ngModel)]="item.categoryId" name="itemCatId" cancelText="annuleer" (ionChange)="changed()" placeholder="nog niet gerubriceerd">     
          <ion-option *ngFor="let catKey of catKeys.slice(1)" [value]=catKey>{{categories[catKey]}}</ion-option>
        </ion-select>
      </div> 

      <ion-label color="primary">Wijzig omschrijving:</ion-label>
      <ion-textarea rows="8" [(ngModel)]="item.description" name="itemDescription" (focus)="changed()"></ion-textarea>

      <button ion-button [disabled]="saved" (click)="cancel(itemDetailForm)">Annuleer</button>
      <button ion-button type="submit" [disabled]="saved">Opslaan</button>
    </form>


  </ion-card-content>
</ion-card>

</ion-content>